<h4>Categorias:</h4>
<div class="card">
        {{#each categorias}}
    <div class="card-body">
            <a href="/categorias/{{slug}}"> <h5>{{nome}}</h5></a>
    </div>
            {{else}}
        {{/each}}
</div>